.admin-hotel-list-layout{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.admin-content-layout{
    width: -webkit-fill-available;
    padding-left: 1%;
    padding-top: 1%;
    display: flex;
}

.admin-rooms-list-layout{
    
}