.content-layout{
    width: -webkit-fill-available;
    padding-left: 1%;
    padding-top: 1%;
    display: flex;
}

.rooms-list-layout{
    width: auto;
}

.reservations-layout{
    padding: 10px;
    width: --webkit-fill-available;
}

.review-list-layout{
    padding: 1px;
}